{% extends "base.html" %}
{% block body %}
<br>
<h3 class="text-center">Apie mus</h3>
<p class="text-center">{{webdata['shopname']}} - entuziastingų gamybininkų komanda, susibūrusi ir susitelkusi kurti aukštos kokybės personalizuotą produkciją už prieinamą kainą. </p>
<h3 class="text-center">Kodėl verta rinktis mus?</h3>
<p class="text-center">- Optimizuota užsakymų sistema sutaupys Jūsų laiką<br>
                        - Paprastas prekės individualizavimo procesas: nereikia kontaktuoti ir derinti prekės dizaino<br>
                        - Būsimą prekės išvaizdą galite matyti prieš užsakydami prekę!<br>
                        - Galime sukurti išskirtinį dizainą ir gaminius Jūsų šventėms ir renginiams!<br>
{% endblock %}
